@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestionarea parcarilor</h1>
    <p class="lead">Aplicatia va gestiona locurile de parcare din Cluj.</p>
</div>

<div class="row">
</div>